/* reset */
html, body {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    font: 15px/1.3 Arial, sans-serif
}

/* wrapper */
.container {
    position: relative;
    height: 100%;
    width: 80%;
    min-width: 200px;
    max-width: 600px;
    margin: 0 auto;
    white-space: nowrap;
    }
    .container:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        }

    .container_va {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        width: 100%;
        padding: 40px 0;
        }

/* forms */
input[type="text"] {
    position: relative;
    width: 100%;
    margin: 8px 0 4px;
    padding: 0 8px;
    box-sizing: border-box;
    height: 32px;
    line-height: 17px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,.07);
    font-size: 14px;
    outline: 0;
    color: #333;
    }

button {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px;
    width: 100%;
    height: 32px;
    cursor: pointer;
    white-space: nowrap;
    overflow: visible;
    border-radius: 3px;
    border: 0;
    font: 500 14px/32px arial,helvetica,sans-serif;
    color: #fff;
    outline: 0;
    text-align: center;

    background: #1daa09 linear-gradient(to bottom,#78d81f,#1daa09);
    box-shadow: inset 0 -1px 0 0 #21900d;
    text-shadow: 0 1px 0 #458f11;
    }
    button:hover {
        background: #70ca1b linear-gradient(to bottom,#70ca1b,#169305);
        box-shadow: inset 0 -1px 0 0 #1a7c0b;
        color: #fff;
        text-decoration: none;
        }

label {
    display: block;
    margin-bottom: 12px;
    }

/* Online users */
.online-list {
    margin: 20px 0;
    }

    .online-list_t {
        margin-bottom: 4px;
        }

    .online-list_lst {
        margin: 0;
        padding: 0 0 0 20px;
        }
        .online-list_lst:empty:before {
            content: '<пользователей онлайн нет>';
            color: #999;
            }

    .online-item {
        margin-bottom: 4px;
        }

/* Header */
.header {
    margin-bottom: 48px;
    }

/* Game */

.game_field {
    overflow: hidden;
    border: 2px #eee solid;
    margin-bottom: 40px;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }

    .game_elem {
        float: left;
        width: 25%;
        padding-top: 10%;
        height: 20px;
        line-height: 20px;
        padding-bottom: 10%;
        border: 1px #eee solid;
        margin: -1px;
        text-align: center;
        font-size: 20px;
        }

.game_rating {

    }

    .game_rating_t {
        margin-bottom: 4px;
        }

    .game_rating_lst {
        overflow: hidden;
        }

    .game_rating_name {
        float: left;
        width: 50%;
        margin-bottom: 4px;
        }
        .game_rating_name.__current {
            font-weight: bold;
            }

    .game_rating_value {
        float: left;
        width: 50%;
        margin-bottom: 4px;
        }
        .game_rating_value.__winner {
            font-weight: bold;
            }

/* Finish */
.finish-screen {
    font-size: 24px;
    }

/* cosmetics */
.invisible {
    display: none;
    }

.error {
    color: #f00;
    }